/* Reglas generales */
* {
  margin: 10px;
  padding: 10px;

  /* la cajas no se desbordan unas con otras */
  box-sizing: border-box;
}

.padre{
  display: flex;
  flex-flow: column nowrap;
}

.header {
  background: #000;
  display: flex;
  flex-flow: column nowrap;
}

    .menu {
    background: #80558c;
    display: flex;
    flex-flow: row nowrap;
    height: 100px;
    align-items: center;


    }

        .logo {
        background: #af7ab3;
        flex:1 1 auto;
        height: 30px;
        }

        .nav {
        background: #af7ab3;
        flex:5 1 auto;
        height: 30px;
        }

        .social {
        background: #af7ab3;
        flex:1 1 auto;
        height: 30px;
    }

    .texto-principal{
    background: #cba0ae;
    }

    h1{
        background: yellow;
    }

.section {
  background: #000;
  display: flex;
}

    .articulos{
        background:#E4D192;
        flex: 2 1 auto;
        display: flex;
        flex-flow: row wrap;
    }

        .article{
            background: #E4DCCF;
            flex: 1 1 40%;

    }

        .navegacion{
          background: #af7ab3;
          flex: 1 1 100%
        }
    
    .aside{
      background: pink;
      flex:1 1 auto;
    }

          .publicidad{
            background: yellow;
          }

.footer {
  background: #000;
}

        .pie{
          background: red;
        }