/* Reglas generales */
* {
  margin: 0px;
  padding: 10px;

  /* la cajas no se desbordan unas con otras */
  box-sizing: border-box;
  text-decoration: none;
}

.padre{
  display: flex;
  flex-flow: column nowrap;
}

.header {
  background: rgb(126, 36, 36);
  display: flex;
  flex-flow: column nowrap;
}

    .menu {
    background: rgba (0,0,0,.1);
    display: flex;
    /* flex-flow: row nowrap; */
    height: 60px;
    align-items: center;
    border-bottom: solid rgba(255, 255, 255, .5);
    }

        .logo {
        
        flex:1 1 auto;
        display: flex;
        }

        .logo a{
          color: white;
          font-size: 30px;
  
        }

        .logo a:hover{
          color:#343434;
        }

        .nav {
          display: flex;
          align-items: center;
          flex:5 1 auto;
        }

        .nav a {
          align-items: center;
          color: #fff;
          font-size: 11px;
          text-transform: uppercase;
          padding: 0 10px;
          letter-spacing: 2px;
        }



        .social {
        flex:1 1 auto;
    }

    .texto-principal{
    background: #cba0ae;
    }

    h1{
        background: yellow;
    }

.section {
  background: #000;
  display: flex;
}

    .articulos{
        background:#E4D192;
        flex: 2 1 auto;
        display: flex;
        flex-flow: row wrap;
    }

        .article{
            background: #E4DCCF;
            flex: 1 1 40%;

    }

        .navegacion{
          background: #af7ab3;
          flex: 1 1 100%
        }
    
    .aside{
      background: pink;
      flex:1 1 auto;
    }

          .publicidad{
            background: yellow;
          }

.footer {
  background: #000;
}

        .pie{
          background: red;
        }